<table class="table table-striped">
  <thead>
    <tr>
      <th *ngFor="let header of headers">{{ header }}</th>
    </tr>
  </thead>
  <tbody>
    <ng-content></ng-content>
  </tbody>
</table>

<!--ng content a la place de: <tr *ngFor="let order of collection">
  <td>{{ order.tjmHt }}</td>
  <td>{{ order.nbJours }}</td>
  <td>{{ order.tva }}</td>
  <td>{{ order.typePresta }}</td>
  <td>{{ order.client }}</td>
  <td>{{ order.state }}</td>
</tr> -->

<!-- "tjmHt": number,
"nbJours": number,
"tva": number,
"state": StateOrder,
"typePresta": string,
"client": string,
"comment": string,
"id": number, -->
