
<!--fonction, pour creer des instances en fonction de l'url
  les pages en fonction de l'url-->
<app-ui>
  <app-header class="tr-header"></app-header>
  
  <app-icon-nav class="tr-btn-open"></app-icon-nav>
  <app-icon-close class="tr-btn-close"></app-icon-close>
  <!-- <app-icon-delete class="tr-header"></app-icon-delete>
  <app-icon-edit class="tr-header"></app-icon-edit> -->
  <button class="tr-header">Click</button>
  <button class="tr-btn">Open/Close</button>
  <app-nav-bar class="tr-nav"></app-nav-bar>
  <router-outlet class="tr-content"></router-outlet>
  <app-footer class="tr-footer"></app-footer>
</app-ui>
