<header class="fixed-top">
  Header
  <!--directive ng-content (transclusion) shortcut du <app-ui>contenu</app-ui>-->
  <ng-content select=".tr-header"></ng-content>
  <!--event binding (binder l'evenement click) = la methode sur laquelle on veut binder-->
<!-- <button (click)="toggle()">Open/Close</button> -->
    <span (click)="toggle()">
      <ng-content *ngIf="!isNavOpen; else elseBtn" select=".tr-btn-open"></ng-content>
    </span>

     <ng-template #elseBtn>
       <ng-content select=".tr-btn-close"></ng-content>
     </ng-template>

</header>
<main [ngClass]="{'close-aside': !isNavOpen}">
  <div class="shadow position-fixed">
  </div>
  <aside>
      <div class="scroller">
          Nav
          <ng-content select=".tr-nav"></ng-content>
      </div>
  </aside>
  <div class="page">
      <div class="contents">
          content
          <ng-content select=".tr-content"></ng-content>
      </div>
      <footer>
          Footer
          <ng-content select=".tr-footer"></ng-content>
      </footer>
  </div>
</main>
